html, body {
    height:100%;
    background-size: cover;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
  padding-top:50px;  
  padding-bottom:50px; 
  min-height:calc(50% - 1px);
}

a {
  color: #00B7FF;
}

label {
  font-size: 14px;
}
p {
  font-size: 12px;
  min-height:50px;
  width: 100%;
  background-color:rgba(255,255,255,0.7);
}

p.error{
  min-height:0;
  color: red;
}

input {
  margin: 5px;
}

textarea {
  resize: none;
  width: 100%;
  display:block;
}

#ceaser {

	background-color: #BFD2F2;
}

#vigenere {

	background-color: #B0C6EA;
}

#GCD {

	background-color: #D0C8CA;
}
